
<html>
<head>
    <title>Ballot Box</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.0.min.js"></script>
     <script type="text/javascript">
      function FBLogin() {
             FB.getLoginStatus(function (response) {
                 if (response.status === 'connected') {
                     // the user is logged in and has authenticated your
                     // app, and response.authResponse supplies
                     // the user's ID, a valid access token, a signed
                     // request, and the time the access token 
                     // and signed request each expire
                     var uid = response.authResponse.userID;
                     var accessToken = response.authResponse.accessToken;
                     FB.logout(function (response) {
                         // user is now logged out
                         window.location.href = "/voting/";
                     });
                 } else if (response.status === 'not_authorized') {
                     // the user is logged in to Facebook, 
                     // but has not authenticated your app
                 } else {
                     // the user isn't logged in to Facebook.
                     FB.login(function (loginResponse) {
                         if (loginResponse.authResponse) {
                             FB.api('/me', function (loginResponse) {
                                 console.log(loginResponse);
                                 var uid = loginResponse.id;
                                 var userDetails = {
                                     id : loginResponse.id,
                                     name: loginResponse.name,
                                     first_name: loginResponse.first_name,
                                     last_name: loginResponse.last_name,
                                     email: loginResponse.email,
                                     gender: loginResponse.gender,
                                 };
                                 $.ajax({
                                     type: "POST",
                                     url: "/voting/",
                                     data: JSON.stringify(userDetails),
                                     contentType: "application/json",
                                     success: function (resp) {
                                         window.location.href = "/voting/"+uid;
                                     },
                                     statusCode: {
                                         200: function () {

                                         },
                                         201: function () {

                                         },
                                         404: function () {
                                             alert("Page Not Found");

                                         },
                                         500: function () {
                                             alert("Error Creating User");

                                         }
                                     }
                                 });
                                 
                             });
                         } else {
                             console.log('User cancelled login or did not fully authorize.');
                         }
                     }, { scope: 'email' });
                 }
             });
         };
		
    </script>
    <style>
	.error {
		color: #F71313 !important ;
		opacity: 1;
	}
	</style>
</head>
<body>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
        FB.init({
          appId      : '1594873474071994',
          status     : true,
          xfbml      : true
        });
         FB.getLoginStatus(function (response) {
             if (response.status === 'connected') {
                 // the user is logged in and has authenticated your
                 // app, and response.authResponse supplies
                 // the user's ID, a valid access token, a signed
                 // request, and the time the access token 
                 // and signed request each expire
                 var uid = response.authResponse.userID;
                 var accessToken = response.authResponse.accessToken;
                 FB.logout(function (response) {
                         // user is now logged out
                         window.location.href = "/voting/";
                     });
             } else if (response.status === 'not_authorized') {
                 // the user is logged in to Facebook, 
                 // but has not authenticated your app
             } else {
                 // the user isn't logged in to Facebook.

             }
         });
      };

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1594873474071994";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/voting">Ballot Box</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form navbar-right" method="GET" onsubmit="return frm_submit();" action="/voting" id="poll_form">
				
				<button type="button" class="btn btn-primary fb-login-button" data-auto-logout-link="true" data-size="large" onclick="FBLogin();">Login</button>
				</div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-6">
                    <form class="form-horizontal" name="register" id="register">
                        <fieldset>
                            <legend>Login using Facebook</legend>
                           
                            <button type="button" class="btn btn-primary fb-login-button" data-auto-logout-link="true" data-size="xlarge" onclick="FBLogin();">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>